/*@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap);*/

body,
html {
    overflow-x: hidden
}

body {
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.admin-bar .md-header {
    top: 32px;
}

@media all and (max-width:782px) {
    body.admin-bar .md-header {
        top: 46px;
    }
}


.no-radius {
    border-radius: 0;
}


/*----- Search zone --------*/

.search-zone {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.9);
    display: none;
}

.close-search {
    font-size: 50px;
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
}

.search-input {
    width: 60%;
    height: 90px;
    margin-top: 15%;
    background: none;
    border: none;
    border-bottom: 2px solid #7f7f7f;
    color: #ffffff;
    font-size: 38px;
}

.btn-show-search:hover {
    cursor: pointer;
}

.m-fixed-nav {
    margin-bottom: 74px;
}

.navbar-toggler {
    outline: 0!important;
    border: none!important
}

header .logo {
    width: 150px;
    height: 35px;
}

header .navbar a {
    text-transform: uppercase;
}

header .social-media-navbar i {
    font-size: 22px;
}

.main-slider-img {
    height: 600px;
}

.md-slider img
{
    height: 550px;
}

.our-services i
{
    display: block;
    margin: 15px 0;
    font-size: 57px;
    padding: 0;
}

.our-services .textwidget p
{
    font-size: 1.1rem;
}

.our-services .custom-html-widget
{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.gallery {
    background-color: #efefef;
}

.gallery h2,
.our-services h2,
.about-us h2,
.about-page h1,
.our-services-page h1,
.album-page h1 {
    border-bottom: 4px solid #111;
}


.gallery img {
    height: 250px;
}

.about-us img {
    height: 450px
}

.about-us .btn {
    border-radius: 30px;
}

.our-services-page .our-services-lists .main-icon {
    background-color: #333;
    border: 3px solid #111;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 50%;
}

.our-services-page .our-services-lists ul li {
    padding: 7px 18px;
}

.our-services-page .our-services-lists p,
.our-services-page .our-services-lists li {
    font-size: 18px;
}

.album-page .card img {
    height: 290px;
}

.blog-page .card img {
    height: 230px;
}

.single-page .title-header,
.simple-page .title-header {
    position: relative;
}

.single-page .overlay,
.simple-page .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.single-page .title,
.simple-page .title {
    position: absolute;
    top: 130px;
    text-align: center;
    width: 100%;
}

.single-page .title h1,
.simple-page .title h1,
.single-page .title span,
.simple-page .title span {
    position: relative;
    z-index: 999;
}

.single-page .title-header-img,
.simple-page .title-header-img {
    height: 350px;
}

.single-page .main-post {
    font-size: 22px;
    color: #444;
    line-height: 36px;
}

.single-page .main-post h2,
.single-page .main-post h3,
.single-page .main-post h4,
.single-page .main-post h5 {
    margin: 25px 0;
    border-left: 4px solid #444;
    padding-left: 10px;
}

.single-page .main-post img {
    width: 100%;
    height: 520px;
    margin: 30px 0;
}

.single-page .main-post a {
    color: #000;
    text-decoration: underline;
    padding: 5px 10px;
    box-sizing: border-box;
    transition: 0.5s all ease-in-out;
}

.single-page .main-post a:hover {
    color: #fff;
    background-color: #111;
    text-decoration: none;
}

.related-posts img,
.related-posts .card-body
{
    height: 160px !important;
}


/*-------- Comments list -----------*/

.comment-counts
{
    font-size: 25px;
    font-weight: bold;
    color: #999999;
    margin-top: 0;
    text-decoration: underline;
}


.comments-list ul,
.comments-list ol
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments-list .comment img
{
    padding: 3px;
    border: 1px solid #CCCCCC;
    background: #ffffff;
    margin-bottom: 5px;
    margin-right: 5px;
}

.comments-list .comment .says
{
    display: none;
}

.comments-list .comment .comment-meta
{
    color: #9d9d9d;
    font-size: 12px;
}

.comments-list .comment p
{
    color: #656565;
    margin-top: 8px;
}

.comments-list .comment-reply-link
{
    padding: 3px 15px;
    background: var(--main-color);
    color: white;
    display: inline-block;
    border: 1px solid var(--main-color);
    transition: all 0.1s ease-in-out;
}

.comments-list .comment-reply-link:hover
{
    background: var(--main-color);
    border: 1px solid var(--main-color);
    text-decoration: none;
}

.comments-list > .comment /*  level 1 selector  */
{
    background: #ffffff;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}

.comments-list > .comment  > .children > .comment /*  level 2 selector child comment  */
{
    padding: 10px;
    background: #EEEEEE;
    margin-top: 10px;
    border: 1px solid #CCCCCC;
}

.comments-list > .comment  > .children > .comment .comment
    /*  level 3 selector childs child comment */
{
    padding: 10px;
    background: #dddddd;
    margin-top: 10px;
    border: 1px solid #aaaaaa;
}

.comment-respond label
{
    display: block;
}

.comment-respond .comment-reply-title
{
    display: block;
    padding: 15px 0;
    margin-bottom: 30px;
}

.comments-box .submit
{
    padding: 12px 50px;
    background: var(--main-color);
    color: #ffffff;
    border: 1px solid var(--main-color);
    font-size: 21px;
    transition: all 0.4s ease-in-out;
}

.comments-box .submit:hover
{
    background: #ffffff;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    font-size: 21px;
}

.comments-box input,
.comments-box textarea
{
    border-radius: 0;
}
/*-------- end Comments list -----------*/

/*-------- search  -----------*/
.search-thumb
{
    height: 230px;
}
/*-------- search  -----------*/


footer .footer-logo {
    width: 270px;
    height: 60px;
}

footer .text-footer a {
    text-decoration: underline;
}

footer .text-footer,
footer .text-footer a {
    color: #999;
    font-size: 22px;
}

footer .footer-social-media a:hover {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #999 !important;
}